.navbar-light .navbar-nav .nav-link {
  color: #000;
}
body {
  background-color: #f5f7fa;
}

.fas.fa-heart:hover {
  color: #f44336 !important;
}

.fas.fa-share-alt:hover {
  color: #0d47a1 !important;
}


/* PHOTO Library Modal */

.modal .modal-dialog {
  max-width: 90%;
}
.selected {
  outline: blue ;
}
.modal-wrapper {
  max-width: 50%;
}


.dropzone {
  border: 6px dashed #0087F7 ;
  border-radius: 5px ;
  background: white ;
}